body {

    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background: #f0f0f0;
}


/* TYPOGRAPHY */

h1 {
    font-family: "Lora", serif;
    font-weight: 700;
    color: #000;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 400;
    color: rgb(184, 28, 28);
    font-size: .75rem;
    margin: 0;
}

/* LAYOUT */

.site-title {
    margin-left: .5em;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0;
    margin-bottom: 2em;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #F8F8F8;
    padding: 2em 0;
}

#😁 {
    text-align: center;
    font-size: 2rem;

}
footer {
    position: relative;
    margin-right: 2em;
}

.footer-content {
    background: #F8F8F8;
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
}

.footer-content p {
    margin-right: 2em;
}
#center-footer-content {
    text-align: center;
}
/* SLIDESHOW CONTENT */
.main-content-section {
    width: 60%; /**/
    overflow: hidden;
    margin-top: 2em;
    max-width: 900px;
}

.middle {
    /* position: absolute; */
    margin-top: 2em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.navigation {
    position: relative;
    bottom: 2rem;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
}

.bar {
    width: 5rem;
    height: 1rem;
    border: 2px solid #fff;
    margin: .25em;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover,
.bar:focus {
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  


/* Navigation */

.un-list {
    list-style: none;   /* TURN OF DOTS*/
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin-left: 2em;
}

.un-list .contact {
    flex-direction: row;
    justify-content: flex-end;
}

.👀 {
    text-decoration: none;  /* TURN OFF UGLY HYPER-LINK STYLING*/
    color:rgb(184, 28, 28);
    font-weight: 700;
    padding: .25em 0;
}

.👀:hover,
.👀:focus {
    color: #000;
}

/* Articles */

.art1 {
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
    .container-nav {
        flex-direction: column;
    }
    header {
        text-align: center;
    }
}

@media (max-width: 900px) {
    .un-list {
        flex-direction: column;
    }

    .nav-list-item {
        margin: .5em 0;
    }
}